<footer class="page-footer font-small stylish-color-dark mt-4">
  <div class="container">
    <!-- <div class="row">
      <ul class="list-unstyled list-inline links">
        <li class="list-inline-item">
          <a class="link mx-1" href="#">Home</a>
        </li>
        <li class="list-inline-item">
          <a class="link mx-1" href="#">About</a>
        </li>
        <li class="list-inline-item">
          <a class="link mx-1" href="#">Posts</a>
        </li>
        <li class="list-inline-item">
          <a class="link mx-1" href="#">Events</a>
        </li>
        <li class="list-inline-item">
          <a class="link mx-1" href="#">Contact</a>
        </li>
      </ul>
    </div> -->
    <div class="row flinks text-center d-flex justify-content-center pt-5 mb-3">
      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a [routerLink]="['/']">Home</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a [routerLink]="['/events']">Events</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a [routerLink]="['/articles']">Articles</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a [routerLink]="['/about-us']">About Us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <!-- <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Contact</a>
        </h6>
      </div> -->
      <!-- Grid column -->
    </div>
    <hr class="divider" />
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-12 align-self-center text-center">
        <img src="assets/images/csau_fo.png" alt="csau_logo" class="logo" />
      </div>
      <div class="col-md-6 text-center align-self-center">
        <p class="intro">
          For any queries contact <a class="mailLink"
            href="https://mail.google.com/mail/?view=cm&fs=1&to=cegcsau@gmail.com&su=Query%20"
            target="_blank">cegcsau@gmail.com</a> <br>

          To publish your cursor articles contact <a class="mailLink"
            href="https://mail.google.com/mail/?view=cm&fs=1&to=csau.cursor@gmail.com&su=Contacting%20to%20publish%20Cursor%20Article"
            target="_blank">csau.cursor@gmail.com</a>
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none" />
    </div>
  </div>
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating mx-1" href="https://www.facebook.com/csau.ceg/">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <!-- <li class="list-inline-item">
      <a class="btn-floating mx-1" href="#">
        <i class="fab fa-twitter"> </i>
      </a>
    </li> -->
    <li class="list-inline-item">
      <a class="btn-floating mx-1" href="https://www.instagram.com/csau_ceg/">
        <i class="fab fa-instagram"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating mx-1" href="https://www.linkedin.com/school/computer-society-of-anna-university/">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <!-- <li class="list-inline-item">
      <a class="btn-floating mx-1" href="#">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li> -->
  </ul>
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a class="footer-copyright" href="#"> CSAU</a>
  </div>
</footer>
<!-- Footer -->
