.intro {
  margin: 7%;
  color: rgb(255, 255, 255);
}

.link {
  text-decoration: none;
}

hr {
  margin: 0;
}

footer .links li a {
  display: inline-block;
  padding: 10px 80px 20px;
  color: rgb(255, 255, 255);
}

.footer-copyright {
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.divider {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgba(255, 253, 253, 0.75),
      rgba(255, 255, 255, 0));
}

* {
  background-color: rgb(44, 46, 46);
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.logo {
  max-width: 100%;
  max-height: 200px;
}

footer {
  font-family: Font-Regular500;
}

.mailLink {
  color: white;
  text-decoration: underline;
}
