.articleHeadingLink {
    text-decoration: none;
    color: grey;
}

.articleHeadingLink:hover,.router-link-active{
    color: black;
    border-bottom: 1.5px solid black;
    padding-bottom: 5px;
}

.links {
    font-family: Font-Medium600;
}

@media only screen and (max-width: 576px) {
    .container {
     width: 90%;
    }
  }