<ul id=menu class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
        <a class="btn-floating mx-1" target="_blank" href="https://www.facebook.com/csau.ceg/">
            <i class="fab fa-facebook-f"> </i>
        </a>
    </li>
    <!-- <li class="list-inline-item">
          <a class="btn-floating mx-1" href="#">
            <i class="fab fa-twitter"> </i>
          </a>
        </li> -->
    <li class="list-inline-item">
        <a class="btn-floating mx-1" target="_blank" href="https://www.instagram.com/csau_ceg/">
            <i class="fab fa-instagram"> </i>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="btn-floating mx-1" target="_blank"
            href="https://www.linkedin.com/school/computer-society-of-anna-university/">
            <i class="fab fa-linkedin-in"> </i>
        </a>
    </li>
    <!-- <li class="list-inline-item">
          <a class="btn-floating mx-1" href="#">
            <i class="fab fa-dribbble"> </i>
          </a>
        </li> -->
</ul>