ul li {
  margin-bottom: 10px;
}

#menu {
  position: fixed;
  right: 0;
  top: 30%;
  width: 1.5em;
  margin-top: -2.5em;
  font-size: large;
}

a {
  color: #2C2E2E;
  z-index: 9999 !important;
}

a:hover {
  color: grey;
}
