.pb-10{
    padding-bottom: 10px !important;
}

.justify-content-even {
    justify-content: space-evenly;
}

li.active > a.nav-link{
    border-bottom: 5px solid #425ac6;
    padding-left: 5px;
    padding-right: 5px;
}

li.active{
    display: flex;
    justify-content: center;
}

nav {
    font-family: "Font-Regular500";
    font-weight: 700;
}

.navbar-brand {
    font-family: "Font-Medium600";
}
