.container {
  margin-top: 7%;
  text-align: justify;
}

.heading {
  font-family: "Font-Medium600";
  color: black;
  font-weight: bold;
}

h1,
h2,
.subtitle,
.author {
  font-family: "Font-Medium600";
}


.content {
  font-family: "Font-Regular500";
  color: #202020;
}

.body {
  line-height: 1.6;
}

.image {
  display: block;
  width: 60%;
  margin: 5% auto;
  text-align: center;
}

.others {
  font-style: italic;
  font-family: "Font-Regular500";
  color: black;
}

@media only screen and (max-width: 990px) {
  .container {
    margin-top: 10% !important;
  }

  .image {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 90%;
    margin-top: 80px !important;
  }
}

.subtitle {
  font-size: 18px;
}

.authorLink {
  text-decoration: none;
  color: #425ac6;
}

