<div class="container">
  <div class="row justify-content-around logondesc">
    <div class="col-lg-4 col-md-8 align-self-center text-center mb-4">
      <img src="assets/images/CSAU_logo.png" alt="CSAU Logo" class="logo" width="100%" />
    </div>
    <div class="col-lg-6 col-md-10 align-self-center mb-4" style="text-align: justify;">
      <p class="para1">Something's wrong here...</p>
      <p class="para2">We can't find the page you're looking for. Click <a [routerLink]="['/']">here</a> to head back to home.</p>
    </div>
  </div>
</div>
