a {
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  box-shadow: 2px 0.8rem 1rem rgba(0, 0, 0, 0.06);
}

.image-data {
  height: 25rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.bgimg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% 100%;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.card:hover .bgimg {
  transform: scale(1.1);
}

.publication-details {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.date {
  display: block;
  color: black;
}

.post-data {
  background-color: #fff;
  padding: 2rem 3rem;
  position: relative;
}

.title {
  font-size: 2rem;
  line-height: 1;
}


.title {
  font-family: Font-Medium600;
}

.cta,
.sub-title {
  font-family: Font-Regular500;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #a2a2a2;
  margin: 1rem 0 1.5rem 0;
}

.description {
  position: relative;
  font-size: 17px;
}

.description::first-letter {
  margin-left: 1rem;
}

.description::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 2.5rem;
  border-radius: 2rem;
}

.cta {
  text-align: right;
  font-weight: bold;
  margin-top: 1rem;
}

.cta a {
  background: #425ac6;
  text-decoration: none;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -ms-background-clip: text;
  background-clip: transparent;
  color: transparent;
  position: relative;
}

.cta a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 3px;
  background: #425ac6;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.cta a:hover::before {
  transform: scaleX(1);
}

@media screen and (min-width: 990px) {
  .card {
    flex-direction: row;
    max-width: 75rem;
  }

  .image-data {
    flex-basis: 40%;
    height: unset;
  }

  .publication-details {
    transform: translateX(-100%);
    transition: transform 0.5s;
  }

  .card:hover,
  .publication-details {
    transform: translateX(0);
  }

  .date {
    transform: translateY(3rem);
    opacity: 0;
    transition: all 0.5s 0.3s;
  }

  .post-data {
    flex-basis: 60%;
  }
}

.content-info {
  color: rgb(97, 97, 97);
  font-family: Font-Regular500;
}

.department {
  font-family: Font-Regular500;
}
