* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #425ac6;
}

a:visited {
  color: #425ac6;
}

.article-wrapper {
  width: 100%;
}

.article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: auto;
  width: 80%;
  max-width: 900px;
}

.image {
  display: block;
  width: 100%;
  margin: 0 auto 1.2em;
  color: #343434;
  text-align: center;
  font-style: italic;
}

.heading {
  margin: 5em 0em 0.5em 0em;
}

.title {
  font-size: 3em;
  font-family: "Font-Medium600";
  color: #2b2b2b;
}

.author {
  color: #555;
  font-size: 1.2em;
  font-family: "Font-Medium600";
}

.article-body {
  line-height: 1.6;
  font-family: "Font-Regular500";
}

.section {
  margin: 2em 0.5em;
  position: relative;
}

.question {
  font-weight: bold;
  font-style: italic;
  color: #252525;
  margin: 1em 0;
}

.para {
  margin: 0 0 1.3em 0;
  color: #202020;
}
